<section id="certifications" class="portfolio-section section">
  <div class="section-header">
    <div>
      <h1 class="section-title">CERTIFICATIONS</h1>
    </div>
  </div>

  <div class="cert-grid">
    <article class="cert-card">
      <h4>Azure Data Engineer Associate*</h4>
      <ul>
        <li>
          <strong>Microsoft Azure DP-200</strong> Implementing an Azure Data Solution
        </li>
        <li>
          <strong>Microsoft Azure DP-201</strong> Designing an Azure Data Solution
        </li>
      </ul>
    </article>

    <article class="cert-card">
      <h4>Azure Database Administrator Associate</h4>
      <ul>
        <li>
          <strong>Microsoft DP-300</strong> Administering Microsoft Azure SQL Solutions
        </li>
      </ul>
    </article>

    <article class="cert-card">
      <h4>Azure Enterprise Data Analyst Associate*</h4>
      <ul>
        <li>
          <strong>Microsoft DP-500</strong> Designing and Implementing Enterprise-Scale Analytics Solutions Using Microsoft Azure and Microsoft Power BI
        </li>
      </ul>
    </article>

    <article class="cert-card">
      <h4>Azure Data Scientist Associate</h4>
      <ul>
        <li>
          <strong>Microsoft DP-100</strong> Designing and Implementing a Data Science Solution on Azure
        </li>
      </ul>
    </article>

    <article class="cert-card">
      <h4>Azure AI Engineer Associate</h4>
      <ul>
        <li>
          <strong>Microsoft AI-102</strong> Designing and Implementing a Microsoft Azure AI Solution
        </li>
      </ul>
    </article>

    <article class="cert-card">
      <h4>Power BI Data Analyst Associate</h4>
      <ul>
        <li>
          <strong>Microsoft DA-100</strong> Analyzing Data with Microsoft Power BI
        </li>
      </ul>
    </article>

    <p>*Retired by Microsoft</p>
  </div>
</section>
