<section id="education" class="portfolio-section section">
  <div class="section-header">
    <h1 class="section-title">EDUCATION</h1>
  </div>

  <div class="timeline">
    <article class="timeline-item">
      <div class="topline">
        <h4>
          <span class="inline-chip inline-chip-large">
            <img src="{{ '/assets/images/polimi.png' | relative_url }}" width="100" height="100" alt="Polimi" />
            Bachelor Degree | Mathematical Engineering – POLITECNICO DI MILANO (MI)
          </span>
        </h4>
        <span class="period">September 2009 — September 2015</span>
      </div>
      <p>Core knowledge of: Programming, Analysis and Numerical Computation, Statistics and Probability, Finance.</p>
    </article>

    <article class="timeline-item">
      <div class="topline">
        <h4>
          <span class="inline-chip inline-chip-large">
            <img src="{{ '/assets/images/davinci.png' | relative_url }}" width="100" height="100" alt="DaVinci" />
            High School | Liceo Scientifico Statale Leonardo Da Vinci, Maglie (LE)
          </span>
        </h4>
        <span class="period">September 2004 — July 2009</span>
      </div>
    </article>
  </div>
</section>
